.day {
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(215, 215, 215, 1);
  border-radius: 3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  width: 50px;
  height: 60px;
  transition: 0.5s;
  flex-direction: column;
}

.selected span {
  background-color: rgba(22, 155, 213, 1);
  color: black;
}

.noHover {
  pointer-events: none;
}
.pastday {
  background-color: #f8f8f8;
  transition: none;
}

.day:hover {
  background-color: rgba(22, 155, 213, 1);
  opacity: 1;
}

.day:hover span {
  color: black;
  opacity: 1;
}

// .text {
//   color: #8c8c8c;
//   transition: 0.5s;
//   font-size: 20px;
// }

.hand {
  cursor: pointer;
}
